body{
    margin: 0%;
    padding: 0%;
    font-family: "Exo 2", sans-serif;
    font-weight: 400; /* Adjust weight: 300 (light), 600 (bold), etc. */
    background-color:#2C2F33;
    color: #FFAEC9

    ;
}
