

.parentSignup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #9E9EFF;
}

.signupBox{
    display: flex;
    border: 5px solid #9E9EFF ;
    border-radius: 30px;
    background-color: dimgray;
    height: 300px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.loginButton{
    text-decoration: none;
    color: #D0ADF0;
    margin: 10px;
    cursor: pointer;   
    transition: transform 0.3s ease;
    

}

.loginButton:hover{
    color: black;  
}

.signupButton{
    border-radius: 6px;
    cursor:pointer;
    color: black;
    box-shadow: none;
    border: 1px solid #ccc;
}

.showPasswordButton{
    position: absolute;
    left: 820px;
    top:420px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid #ccc;
}

.inputField{
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ccc; 

}