

.parentSignup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #9E9EFF;
}

.signupBox{
    display: flex;
    border: 5px solid #9E9EFF ;
    border-radius: 30px;
    background-color: dimgray;
    height: 300px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.loginButton{
    text-decoration: none;
    color: #D0ADF0;
    margin: 10px;
}